.button {
  font-family: 'Open Sans', sans-serif;
  border: 2px solid transparent;
  padding: 10px 30px;
  font-weight: 700;
  cursor: pointer;
  &.button-pill {
    border-radius: 9999px;
  }
  &.button-pink {
    background-color: $pink;
    border-color: $pink;
    color: #fff;
    &:hover {
      background-color: $pink-light;
      border-color: $pink-light;
    }
  }
  &.button-large {
    padding: 2em 5em;
  }
  &.button-pink-inverse {
    background-color: #fff;
    border-color: $pink;
    color: $pink;
    &:hover {
      background-color: $pink;
      color: #fff;
    }
  }
}
