footer {
  width: 100vw;
  i.fa {
    transition: transform 0.5s;
    &:hover {
      color: #ff52bf;
      cursor: pointer;
      transform: scale(1.2);
    }
  }
  @media(min-width: $desktop-width) {
    width: auto;
  }
  .footer-content {
    background-color: $cyan-dark;
    color: #fff;
    display: grid;
    justify-items: center;
    @media(min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template:
        "huddleInfo newsletter"
        "socialFeed .";
    }
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template:
      "newsletter"
      "huddleInfo"
      "socialFeed";
    > div {
      width: 80%;
      &.newsletter {
        grid-area: newsletter;
        .newsletter-header {
          grid-area: newsletterHeader;
        }
        input, button {
          border-radius: .2em;
          margin: 1em 0;
        }
        input {
          grid-area: newsletterInput;
          width: 100%;
          border: none;
          line-height: 24pt;
        }
        button {
          grid-area: newsletterButton;
        }
        display: grid;
        grid-template-row: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        grid-template:
          "newsletterHeader newsletterHeader"
          "newsletterInput newsletterInput"
          ". newsletterButton";
        @media(min-width: $desktop-width) {
          grid-template-row: 1fr 1fr;
          grid-template-columns: 5fr 1fr;
          grid-template:
            "newsletterHeader newsletterHeader newsletterHeader"
            "newsletterInput newsletterInput newsletterButton";
        }
      }
      &.huddle-info {
        margin-top: 2em;
        grid-area: huddleInfo;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .info-contact {
          margin: 1em 0;
        }
      }
      &.social-feed {
        grid-area: socialFeed;
        > span {
          font-size: 24pt;
          > i:nth-child(2) {
            margin: 0 1em;
          }
        }
        margin: 1em 0 5em 0;
      }
    }
  }
}
