footer {
  .footer-content {
    background-color: $cyan-dark;
    color: #fff;
    display: grid;
    justify-items: center;
    @media(min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template: "huddleInfo newsletter";
    }
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template:
      "newsletter"
      "huddleInfo";
    > div {
      width: 80%;
      &.newsletter {
        grid-area: newsletter;
        .newsletter-header {
          grid-area: newsletterHeader;
        }
        input {
          grid-area: newsletterInput;
          width: 100%;
        }
        button {
          grid-area: newsletterButton;
        }
        display: grid;
        grid-template-row: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        grid-template:
          "newsletterHeader newsletterHeader"
          "newsletterInput newsletterInput"
          ". newsletterButton";
        @media(min-width: $desktop-width) {
          grid-template-row: 1fr 1fr;
          grid-template-columns: 5fr 1fr;
          grid-template:
            "newsletterHeader newsletterHeader newsletterHeader"
            "newsletterInput newsletterInput newsletterButton";
        }
      }
      &.huddle-info {
        grid-area: huddleInfo;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }
  }
}
