header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 1em;
  > img {
    @media(max-width: 473px) {
      width: 50%;
      height: 50%;

    }
  }
}
